.device-explorer-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;
  padding: 16px;
  flex: 1;
}

.device-explorer-card-container::-webkit-scrollbar {
  width: 6px;
}

.device-explorer-card-container::-webkit-scrollbar-thumb {
  background: var(--border-medium);
  border-radius: 8px;
}